@import '~antd/dist/antd.css';

.container {
  font-family: 'Kdam Thmor Pro', sans-serif;
  margin: 10px auto;
  max-width: 70vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
